{% extends "base.html" %}
{% block content %}

    <!-- banner part -->
            <div class="col-lg-12 col-md-12 banner_div">
                <div class="banners" id="banner-1">
                    <div class="upper_banner">
                        <div class="inner_captions left">
                            <span class="light_font">Testy</span>
                            <span class="bold_font">Chinees</span>
                            <span class="mega_bold_font pull-right">
                                PRAWN
                            </span>
                        </div>
                        <img src="/static/images/banner_pic1.png" alt="" />
                    </div>
                    <div class="lower_banner">
                        <div class="inner_captions right">
                            <span class="light_font">Lemony</span>
                            <span class="bold_font">Chickpea</span>
                            <span class="mega_bold_font pull-right">
                                SALAD
                            </span>
                        </div>
                        <img src="/static/images/banner_pic2.png" alt="" />
                    </div>
                </div>
            </div>
            <!--<div class="filter_section col-lg-12 col-md-12">
                <div class="filter_container">
                    <button type="button" class="btn btn-default btn-lg">Featured</button>
                    <button type="button" class="btn btn-default btn-lg">Popular</button>
                    <button type="button" class="btn btn-default btn-lg">Latest</button>
                </div>
            </div>-->
            
            <div class="content_part col-lg-12">
                <div class="left_content col-lg-10 col-md-10">
                    <h1 class="post_heading">Recently posted</h1>
                    <div class="item_container col-lg-12 col-md-12">
                        <div class="item col-lg-5 col-md-5">
                            <div class="image_container">
                                <img src="/static/images/item_1.png" alt="" />
                                <div class="img_title">
                                    Chocklate Shake
                                </div>
                            </div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here’.</p>
                            <a href="/posts/1" class="btn btn-success learn_btn">Try this !</a>
                        </div>
                        <div class="item col-lg-5 col-md-5">
                            <div class="image_container">
                                <img src="/static/images/item_2.png" alt="" />
                                <div class="img_title">
                                    Pastas
                                </div>
                            </div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here’.</p>
                            <a href="/posts/2" class="btn btn-success learn_btn">Try This</a>
                        </div>
                        <div class="item col-lg-5 col-md-5">
                            <div class="image_container">
                                <img src="/static/images/item_3.png" alt="" />
                                <div class="img_title">
                                    Dosa
                                </div>
                            </div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here’.</p>
                            <a href="/posts/3" class="btn btn-success learn_btn">Try this !</a>
                        </div>
                        <div class="item col-lg-5 col-md-5">
                            <div class="image_container">
                                <img src="/static/images/item_1.png" alt="" />
                                <div class="img_title">
                                    Chocklate Shake
                                </div>
                            </div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here’.</p>
                            <a href="/posts/4" class="btn btn-success learn_btn">Try this !</a>
                        </div>
                        <div class="item col-lg-5 col-md-5">
                            <div class="image_container">
                                <img src="/static/images/item_2.png" alt="" />
                                <div class="img_title">
                                    Pastas
                                </div>
                            </div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here’.</p>
                            <a href="/posts/5" class="btn btn-success learn_btn">Try this !</a>
                        </div>
                    </div>
                </div>
                <div class="right_content col-lg-2 col-md-2">
                    <div class="side_up_profile home_page">
                        <h1 class="side_bar_title">Catagories</h1>
                        
                        <ul>
                            <li><a href="#">Indian</a></li>
                            <li><a href="#">Chinees</a></li>
                            <li><a href="#">Muglai</a></li>
                            <li><a href="#">Continatal</a></li>
                            <li><a href="#">Maxican</a></li>
                            <li><a href="#">Italian</a></li>
                            <li><a href="#">Sea food</a></li>
                            <li><a href="#">Beverages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
{% endblock %}
