{% extends "base.html" %}
{% block content %}
            
            <div class="content_part col-lg-12 details_page">
            	<div class="left_content col-lg-8 col-md-8">
                	<h1 class="post_heading">Choclate Shake</h1>
                    <div class="item_container col-lg-12 col-md-12">
                    	<div class="item-details col-lg-12 col-md-12">
                        	<div class="image_container">
                            	<img src="/static/images/chocolate_shake.png" alt="" />
                                <!--<div class="img_title">
                                	Chocklate Shake
                                </div>-->
                            </div>
                            <div class="user_info">
                            	<h1 class="user_name">
                                	<span>7-Ingredient Tuscan White Bean Soup</span>
                                </h1>
                                <div class="item_type">
                                	<div class="item_types_content">
                                    	<span>
                                    	<i class="fa fa-circle"></i>
	                                    	easy
                                        </span>
                                        <span>
                                        <i class="fa fa-clock-o"></i>
                                            40min
                                        </span>
                                        <span>
                                            <i class="fa fa-cutlery"></i>
                                            quick
                                        </span>
                                    </div>                                	
                                </div>
                                <h1 class="user_name_name">
                                	<span><a href="#" title="Recipe BY">Rahul Gautam</a></span>
                                </h1>
                                <div class="rating_section">
                                	<span class="ratings">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div role="tabpanel" class="user_recipe">
                            	<div class="activity_btn_container">
                                 <button type="button" class="btn btn-danger activity_btns" rel="locate_this" title="where you can find this" id="locate_link">
                                	Locate
                                 </button>
                                 <button type="button" class="btn btn-primary activity_btns" rel="order_this" title="Prepared food from Restaurant">
                                	Order
                                 </button>
                                 <button type="button" class="btn btn-success activity_btns" rel="ready_to_eat" title="Ready for cook">
                                	Ready to eat
                                 </button>   
                                 <button type="button" class="btn btn-info activity_btns" rel="buy_this" title="Ingredients for cook">
                                	Buy
                                 </button>                              
                                </div>
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Reciepe</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                              </ul>
                              <!-- Tab panes -->
                              <div class="tab-content reciepe_content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                	<div class="col-lg-8 col-md-8">
                                    	<h1 class="tab_heading">7-INGREDIENT TUSCAN WHITE BEAN SOUP</h1>
                                        <p>This 7-Ingredient Tuscan White Bean Soup is simple, hearty, surprisingly flavorful. It's the perfect winter comfort food.</p>
                                        <ul class="prep_time">
                                            <li><i class="fa fa-clock-o"></i>PREP: 10 MINS</li>
                                            <li><i class="fa fa-clock-o"></i>COOK: 30 MINS</li>
                                            <li><i class="fa fa-clock-o"></i>TOTAL: 40 MINS</li>
                                        </ul>
                                        <div class="clearfix"></div>
                                        <div class="ingredients_container">
                                            <h1>INGREDIENTS:</h1>
                                            <ul class="ing_list">
                                                <li>4 ounces pancetta or bacon, finely diced</li>
                                                <li>1 small white onion, peeled and diced</li>
                                                <li>5 cloves garlic, peeled and minced</li>
                                                <li>8 cups good-quality chicken stock</li>
                                                <li>4 (15-ounce) cans cannellini beans, rinsed and drained</li>
                                                <li>1 bay leaf</li>
                                                <li>1 large sprig fresh rosemary</li>
                                                <li>salt and freshly-ground black pepper</li>
                                                <li>(optional but highly recommended for serving: freshly-grated Parmesan, Italian bread)</li>
                                            </ul>
                                            <h1>DIRECTIONS:</h1>
                                            <ol class="dirctn_list">
                                                <li>Heat pancetta (or bacon) in a large stockpot over medium-high heat.  Cook until crispy, stirring occasionally.  Transfer the bacon to a separate plate, using a slotted spoon, reserving about 3 tablespoons of bacon grease in the stockpot.  (Discard any extra grease, or you can substitute olive oil in place of the 3 tablespoons of bacon grease.)</li>
                                                <li>Add onion and cook for 5 minutes, stirring occasionally, until soft and translucent.  Add garlic and cook for 1-2 minutes until fragrant, stirring occasionally.</li>
                                                <li>Add chicken stock, beans, bay leaf, rosemary and half of the cooked pancetta (or bacon).  Stir to combine.  Continue cooking the soup until it reaches a simmer.  Then reduce heat to medium-low, cover partially, and let the soup simmer for 10-20 minutes so that the flavors will meld.</li>
                                                <li>Add salt and pepper to taste.  (I definitely recommend a generous pinch or two of black pepper, and extra salt if needed, depending on your chicken stock.)  Remove the bay leaf and rosemary.</li>
                                                <li>Serve warm, topped with the extra pancetta (or bacon).  Garnish with Parmesan and serve with Italian bread if desired.</li>
                                            </ol>
                                        </div>
                                    </div>
                                	<div class="col-lg-4 col-md-4 right_recipe_img">
                                    	<img src="/static/images/bean-soup.jpg" alt="" />
                                        <div class="print_container">
    										 <a href="#"><i class="fa fa-print"></i>Print</a>                             	
                                             <a href="#"><i class="fa fa-save"></i>Save</a>
	                                    </div>   
                                    </div>
                                                                     
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">...</div>
                              </div>
                            
                            </div>
                            <div class="clearfix"></div>
                           
                        </div>
                        
                        
                        
                        
                    </div>
                </div>
                <div class="right_content col-lg-4 col-md-6">
                	<div class="side_up_profile details">
                    	<div class="side_bar_contents show_this" id="buy_this">
                        	<h1 class="side_bar_title bye_header">BUY</h1>
                            <p><strong>7-INGREDIENT TUSCAN WHITE BEAN SOUP</strong></p>
                            <p>This 7-Ingredient Tuscan White Bean Soup is simple, hearty, surprisingly flavorful. It's the perfect winter comfort food.</p>
                            <div class="show_success_msg" id="show_success">
                            	<i class="fa fa-check-circle"></i>
                                <p>Product will be deliver to you within one day.</p>
                            </div>
                            <div class="order_form" id="order_form_id">
                            	<form>
                                  <div class="form-group">
                                    <label for="exampleInputName">Name</label>
                                    <input type="text" class="form-control" id="exampleInputName" placeholder="Enter Name">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputPhone">Phone</label>
                                    <input type="text" class="form-control" id="exampleInputPhone" placeholder="Enter Phone">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Address">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputAddress">Address</label>
                                    <textarea class="form-control" rows="3" placeholder="Enter Address"></textarea>
                                  </div>
                                  <button type="button" class="btn btn-warning place_order_btn" id="order_form_place_order">Place order</button>
                                </form>
                            </div>
                           
                            <ul class="buy_items" id="buy_item_id">
                                <li>
                                	<span class="cart_item">pancetta or bacon, finely diced</span>
                                    <span class="qty_txt">4 ounces</span>
                                    <span class="rates"><i class="fa fa-inr"></i>70</span>
                                    <span class="chk_container">
                                        <i class="fa fa-square unchkd"></i>
                                        <i class="fa fa-check-square chkd"></i>
                                    </span>
                                </li>
                                <li>
                                	<span class="cart_item">white onion, peeled and diced</span>
                                    <span class="qty_txt">1 small</span>
                                    <span class="rates"><i class="fa fa-inr"></i>100</span>
                                    <span class="chk_container">
                                    	<i class="fa fa-square unchkd"></i>
                                        <i class="fa fa-check-square chkd"></i>
                                    </span>
                                </li>
                                <li>
                                	<span class="cart_item">garlic, peeled and minced</span>
                                    <span class="qty_txt">5 cloves</span>
                                    <span class="rates"><i class="fa fa-inr"></i>120</span>
                                    <span class="chk_container">
                                    	<i class="fa fa-square unchkd"></i>
                                        <i class="fa fa-check-square chkd"></i>
                                    </span>
                                </li>
                                <li>
                                	<span class="cart_item">good-quality chicken stock</span>
                                    <span class="qty_txt">8 cups</span>
                                    <span class="rates"><i class="fa fa-inr"></i>80</span>
                                    <span class="chk_container">
                                    	<i class="fa fa-square unchkd"></i>
                                        <i class="fa fa-check-square chkd"></i>
                                    </span>
                                </li>
                                <li>
                                	<span class="cart_item">cans cannellini beans, rinsed and drained</span>
                                    <span class="qty_txt">4</span>
                                    <span class="rates"><i class="fa fa-inr"></i>40</span>
                                    <span class="chk_container">
                                    	<i class="fa fa-square unchkd"></i>
                                        <i class="fa fa-check-square chkd"></i>
                                    </span>
                                </li>
                                <li>
                                	<span class="cart_item">leaf</span>
                                    <span class="qty_txt">1 bay</span>
                                    <span class="rates"><i class="fa fa-inr"></i>10</span>
                                    <span class="chk_container">
                                    	<i class="fa fa-square unchkd"></i>
                                        <i class="fa fa-check-square chkd"></i>
                                    </span>
                                </li>
                                <li>
                                	<span class="cart_item">sprig fresh rosemary</span>
                                    <span class="qty_txt">2 large</span>
                                    <span class="rates"><i class="fa fa-inr"></i>50</span>
                                    <span class="chk_container">
                                    	<i class="fa fa-square unchkd"></i>
                                        <i class="fa fa-check-square chkd"></i>
                                    </span>
                                </li>
                                
                                <li>
                                	<span class="cart_item">salt and freshly-ground black pepper</span>
                                    <span class="qty_txt">2 large</span>
                                    <span class="rates"><i class="fa fa-inr"></i>90</span>
                                    <span class="chk_container">
                                    	<i class="fa fa-square unchkd"></i>
                                        <i class="fa fa-check-square chkd"></i>
                                    </span>
                                </li>

                                <li>
                                    <span class="cart_total">Total</span>
                                    <span class="qty_txt"></span>
                                    <span class="rates total_rates"><i class="fa fa-inr"></i>0</span>
                                </li>

                                <li style="border-bottom:none;">
                                	<button type="button" class="btn btn-warning place_order_btn" id="buy_this_place_order">Place order</button>
                                </li>
                            </ul>	
                        </div>
                    	<div class="side_bar_contents" id="ready_to_eat">
                        	<h1 class="side_bar_title readytoeat_header">Ready To Eat</h1>
                            <p><strong>7-INGREDIENT TUSCAN WHITE BEAN SOUP</strong></p>
                            <p>This 7-Ingredient Tuscan White Bean Soup also be done with ready to eat catagory.</p>
                             <div class="show_success_msg" id="show_success_ready">
                            	<i class="fa fa-check-circle"></i>
                                <p>Product will be deliver to you within one day.</p>
                            </div>
                           	<div class="order_form" id="ready_order_form_id">
                            	<form>
                                  <div class="form-group">
                                    <label for="exampleInputName">Name</label>
                                    <input type="text" class="form-control" id="exampleInputName" placeholder="Enter Name">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputPhone">Phone</label>
                                    <input type="text" class="form-control" id="exampleInputPhone" placeholder="Enter Phone">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputAddress">Address</label>
                                    <textarea class="form-control" rows="3" placeholder="Enter Address"></textarea>
                                  </div>
                                  <button type="button" class="btn btn-warning place_order_btn" id="ready_order_form_place_order">Place order</button>
                                </form>
                            </div>
                            <ul class="buy_items" id="ready_item_id">
                                <li >
                                	<span class="cart_item">MTR white bean soup</span>
                                    <span class="qty_txt">1 pkt</span>
                                    <span class="rates"><i class="fa fa-inr"></i>145</span>
                                    <span class="chk_container">
                                        <i class="fa fa-square unchkd"></i>
                                        <i class="fa fa-check-square chkd"></i>
                                    </span>
                                </li>
                                <li class="un-checked">
                                	<span class="cart_item">Magee white bean soup</span>
                                    <span class="qty_txt">1 pkt</span>
                                    <span class="rates"><i class="fa fa-inr"></i>150</span>
                                    <span class="chk_container">
                                    	<i class="fa fa-square unchkd"></i>
                                        <i class="fa fa-check-square chkd"></i>
                                    </span>
                                </li>
                                <li>
                                    <span class="cart_total">Total</span>
                                    <span class="rates total_rates" ><i class="fa fa-inr"></i>0</span>
                                </li>
                                <li style="border-bottom:none;">
                                	<button type="button" class="btn btn-warning place_order_btn" id="ready_place_order">Place order</button>
                                </li>
                            </ul>	
                        </div>
                        <div class="side_bar_contents" id="order_this">
                        	<h1 class="side_bar_title order_header">Order Now</h1>
                            <p><strong>7-INGREDIENT TUSCAN WHITE BEAN SOUP</strong></p>
                            <p>You can order this form following restaurants.</p>
                            <ul class="buy_items" id="buy_item_id">
                                <li>
                                	<span class="cart_item">Barbe Q Nation</span>
                                    <span class="qty_txt">Toank Road</span>
                                    <span class="chk_container">
                                        <i class="fa fa-square unchkd"></i>
                                        <i class="fa fa-check-square chkd"></i>
                                    </span>
                                </li>
                                <li class="un-checked">
                                	<span class="cart_item">Green Apple</span>
                                    <span class="qty_txt">Malviya nagar</span>
                                    <span class="chk_container">
                                    	<i class="fa fa-square unchkd"></i>
                                        <i class="fa fa-check-square chkd"></i>
                                    </span>
                                </li>
                                
                            </ul>
                            	
                        </div>
                        <div class="side_bar_contents" id="locate_this">
                        	<h1 class="side_bar_title locate_header">Locate</h1>
                            <p><strong>7-INGREDIENT TUSCAN WHITE BEAN SOUP</strong></p>
                            <p>You can eat this recipe form these near by locations.</p>
                           	<div class="food_locator" id="food_location">
                            	
                            </div>
                            	
                        </div>
                    </div>
                </div>

            </div>

{% endblock %}
